<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162243673064-o1oo1v0h1vrgu7vs7kk010qaq926dtiv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162243673064-o1oo1v0h1vrgu7vs7kk010qaq926dtiv</string>
	<key>API_KEY</key>
	<string>AIzaSyCyPFf2UBM2Ftqj2X_-WnGprUqiF6M2v3I</string>
	<key>GCM_SENDER_ID</key>
	<string>162243673064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.yogicmeditation</string>
	<key>PROJECT_ID</key>
	<string>meditationprode</string>
	<key>STORAGE_BUCKET</key>
	<string>meditationprode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162243673064:ios:adc3433a720c42e335425d</string>
	<key>DATABASE_URL</key>
	<string>https://meditationprode.firebaseio.com</string>
</dict>
</plist>